{% extends "base.html" %}

{% block content %}

<h1>Welcome</h1>

<h3>Add Note</h3>

<div class="mb-4">

<form method="POST" class="d-flex gap-2">

        {% csrf_token %}

        <input type="text" name="title" class="form-control" placeholder="Enter Your Note">

        <button type="submit" class="btn btn-primary">Add</button>

</form>

</div>

<h3>Your Notes</h3>

<u1 class="list-group">

{% for note in notes %}

<li class="list-group-item d-flex justify-content-between align-items-center">

    {{ note.title }}

    <div>

        <a href="{% url 'edit_note' note.id %}" class="btn btn-warning btn-sm">Edit</a>

        <form method="POST" style="display:inline;">

                                        {% csrf_token %}
                                        <input type="hidden" name="delete_note" value="{{ note.id }}">

                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>


    </div>


</li>

    {% endfor %}

</u1>

{% endblock %}

