{% extends "base.html" %}

{% block content %}

    <h1>Weather App</h1>

   
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% if temperature %}

    <div style="border: 1px solid #cccccc; padding: 20px; border-radius: 10px; margin-bottom: 20px;">
        <h2>{{ city }}</h2>
        <p><strong>{{ temperature }} °C</strong>

        <p>{{ city }}</p>
        <p>{{ temperature }} °C</p>
        <p>{{ description }}</p>

    </div>      
{% endif %}

<h3>Search History</h3>

<u1 style="list-style: none; padding:0;">
    {% for item in history %}

        <li style="margin-bottom: 5px;">

            {{ item.city }} - {{ item.searched_at|date:"M d, Y H:i"}}
        </li>

        {% endfor %}
</u1>

{% endblock %}

